<div class="container" >
    <div class="text-center border mb-5 shadow rounded" style="background-color: rgb(90, 201, 90);">
        <h1>Contact</h1>
        <p>I can be reached at the following email: <a href="mailto:nilaynamit15@gmail.com"><strong>nilaynamit15&#64;gmail.com</strong></a></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
        <div class="list-group shadow gap-4">
            <a href="https://www.linkedin.com/in/nilay-namit-474791229/" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center" target="_blank">
                <img src="https://www.freeiconspng.com/thumbs/linkedin-logo-png/linkedin-logo-3.png" alt="LinkedIn" class="icon" style="height: 1.5em; margin-right: 10px;"> LinkedIn
            </a>
            <a href="https://github.com/LuckyNilay15" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center" target="_blank">
                <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/github_logo_icon_169115.png" alt="GitHub" class="icon" style="height: 1.5em; margin-right: 10px;"> GitHub
            </a>
            <a href="https://leetcode.com/u/nilaynamit236/" class="list-group-item list-group-item-action d-flex justify-content-center align-items-center" target="_blank">
                <img src="https://miro.medium.com/v2/resize:fit:1200/0*y8puBcHsdWf_dfdB.png" alt="LeetCode" class="icon" style="height: 1.5em; margin-right: 10px;"> LeetCode
            </a>
        </div>
</div>
